:root {
  --text-main: #c0baa0;
  --text-secondary: #868370;
  --background-main: #18141f;
  --borders-main: #ffec99;
}

body {
  background: url(/background-home.jpg);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-main);
}